@*@attribute [Authorize]*@
@page "/SalesData"

<PageTitle>売上データ</PageTitle>

@using SalesManagement.Data
@inject WeatherForecastService ForecastService

<h2>売上データ</h2>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>取引日時</th>
                <th>発注部署</th>
                <th>発注者</th>
                <th>受注部署</th>
                <th>受注者</th>
                <th>案件名</th>
                <th>発注書</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
