<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">@context.User.Identity?.Name 様</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">ログアウト</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">登録</a>
        <a href="Identity/Account/Login">ログイン</a>
    </NotAuthorized>
</AuthorizeView>
