<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        バグ報告や機能の追加要望などは
        <a target="_blank" class="font-weight-bold link-dark" href="https://github.com/ra1t0">管理者</a>
    </span>
    までご連絡ください。
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
