/* _content/SalesManagement/Pages/PurchaseOrderCreate.razor.rz.scp.css */
.subject[b-vgj01hpty8]{
    text-align:center;
}

.OrderData[b-vgj01hpty8] {
    margin: 0 0 0 auto;
}

.SendCompany[b-vgj01hpty8] {
    font-weight: 700;
    margin:0 0 0 100px;
}

.reseaveAddress[b-vgj01hpty8] {
    margin: 0 0 0 auto;
}

.TotalAmount[b-vgj01hpty8] {
    border: solid;
    margin: 0 10px 10px 0;
}

.NathanLimit[b-vgj01hpty8] {
    border-collapse: collapse;
    margin: 0 10px 10px 0;
}

#tbl-bdr table[b-vgj01hpty8], #tbl-bdr td[b-vgj01hpty8], #tbl-bdr th[b-vgj01hpty8] {
    border-collapse: collapse;
    border: 1px solid #333;
}

#tbl-bdr2 table[b-vgj01hpty8], #tbl-bdr2 td[b-vgj01hpty8], #tbl-bdr2 th[b-vgj01hpty8] {
    border: 1px solid;
    width: 25%;
    text-align: center;
    margin: 0 0 0 100px;
}

#p-sendText[b-vgj01hpty8] {
   margin: 0 0 0 100px;
}
/* _content/SalesManagement/Shared/MainLayout.razor.rz.scp.css */
.page[b-ceeten6mrx] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ceeten6mrx] {
    flex: 1;
}

.sidebar[b-ceeten6mrx] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-ceeten6mrx] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ceeten6mrx]  a, .top-row .btn-link[b-ceeten6mrx] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-ceeten6mrx] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-ceeten6mrx] {
        display: none;
    }

    .top-row.auth[b-ceeten6mrx] {
        justify-content: space-between;
    }

    .top-row a[b-ceeten6mrx], .top-row .btn-link[b-ceeten6mrx] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ceeten6mrx] {
        flex-direction: row;
    }

    .sidebar[b-ceeten6mrx] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ceeten6mrx] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-ceeten6mrx], article[b-ceeten6mrx] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/SalesManagement/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-buhatqvrh4] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-buhatqvrh4] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-buhatqvrh4] {
    font-size: 1.1rem;
}

.oi[b-buhatqvrh4] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-buhatqvrh4] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-buhatqvrh4] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-buhatqvrh4] {
        padding-bottom: 1rem;
    }

    .nav-item[b-buhatqvrh4]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-buhatqvrh4]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-buhatqvrh4]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-buhatqvrh4] {
        display: none;
    }

    .collapse[b-buhatqvrh4] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
